<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8"">
        <title>SmartINS</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <nav class="menu">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/registration">Administration</a></li>
                <li><a href="/apiexample">Api Client</a></li>
            </ul>
            <div>{{username}}</div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>            
        </nav>
        <div>        
        </div>
        <div>    
        <table>
            <tr>
                <td>{{id}}</td>
                <td>{{type}}</td>
                <td>{{createdAt}}</td>
                <td>
                    <form method="post" action="../deletePolicyById">
                        <input hidden="true" type="text" name="id" value="{{id}}"/>
                        <button type="submit">Delete</button>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>