/* 
    Created on : 10 нояб. 2022 г., 16:03:42
    Author     : Ksergi0k
*/

#loginDiv {
    margin: 10% auto;
    width: 400px;
    background: orange;
    border: solid;
    border-radius: 10px;
    padding: 25px;
}
label{
    width: 40px;
}
button{
    background-color: coral;
}

div{
    display:block;
}

nav{
    margin: 20px 0px;
}

nav *{
    display: inline;
}

nav > form{
    position: absolute;
    right: 10px;
}

img{
    width: 40px;
}

*{
    font-family: monospace;
    margin: 5px;
}
