<!DOCTYPE HTML>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
        <nav class="menu">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/registration">Administration</a></li>
            </ul>
            <div>{{username}}</div>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>            
        </nav>
<body>
    <div>Hello, username</div>
    <a href ="/main">Main page</a>
</body>
</html>