<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8"">
        <title>SmartINS</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <nav class="menu">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/registration">Administration</a></li>
                <li><a href="/apiexample">Api Client</a></li>
            </ul>

            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>            
        </nav>
        <div>        
            <hi>Something went wronh.</h1>
        </div>
    </body>
</html>
