<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SmartINS</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div id = "loginDiv">
            <h1>Login page</h1>
            <form action="/login" method="post">
                <div><label>User Name:</label><input type="text" name="username"/></div>
                <div><label>Password:</label><input type="password" name="password"/></div>
                <div>
                    <button type="submit">Sign In</button>
                    <a href="/registration">Registration<a>
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
            
        </div>
    </body>
</html>
