<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <nav class="menu">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/registration">Administration</a></li>
            </ul>
            <form action="/logout" method="post">
                <input type="submit" value="Sign Out"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            </form>            
        </nav>
        {{#message}}
        {{message}}
        {{/message}}
        {{^message}}
        Add new user
        {{/message}}
        <form action="/registration" method="post">
            <div><label> User Name : <input type="text" name="username"/></label></div>
            <div><label> Password: <input type="password" name="password"/></label></div>
            <div>
                <label> Role: 
                    <select name="role">
                        {{#roles}}
                        <option value="{{name}}">{{name}}</option>
                        <!--Реализация костыля с переменной name в ENUM-->
                        {{/roles}}
                    </select>
                </label>
            </div>
            <div><button type="submit" value="Sign In">Add</button></div>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
        <div>
            <table>
            {{#userList}}
            <tr>
                <td>{{username}}</td>
                <td>{{roles}}</td>
                <td>
                    <form method="post" action="/deleteUsetById">
                        <input hidden="true" type="text" name="id" value="{{id}}"/>
                        <button type="submit">Delete</button>
                        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    </form>
                </td>
            </tr>
            {{/userList}}
            </table>
        </div>

    </body>
</html>
